@page "/"
@using Client.Models
@inject AppState AppState

<PageTitle>The Ministry of Passage</PageTitle>

<h1>The Ministry of Passage</h1>

<p class="eve-text-muted">
	Connected to EVE Frontier with wallet address: <b>@AppState.WalletAddress</b>
</p>