@page "/login"
@using Client.Models
@using Client.Services
@inject SuiWalletService WalletService
@inject NavigationManager Nav
@inject AppState AppState
@inject SuiInterop SuiInterop
@inject SuiNetworkService Network
@implements IDisposable

<div class="mop-login-container">
    <img src="images/TheMOPLogo.png" class="mop-login-logo" />
    <div class="mop-login-panel">
        <p class="mop-login-subtitle">
            Please confirm your identity. Your compliance is being recorded...
        </p>

        <RadzenButton Text="Confirm" Click="@(() => ConnectWallet())" Disabled="@_connecting" />

        @if (!string.IsNullOrWhiteSpace(_error))
        {
            <p class="text-danger">@_error</p>
        }
    </div>
</div>

@code {
    bool _connecting;
    string? _address;
    private string? _error;

    protected override async Task OnInitializedAsync()
    {
        await SuiInterop.InitAsync(
            Network.Current.Network.ToString().ToLowerInvariant(),
            Network.Current.RpcUrl
        );

        Network.OnChanged += HandleNetworkChanged;
    }

    private async void HandleNetworkChanged()
    {
        await SuiInterop.InitAsync(
            Network.Current.Network.ToString().ToLowerInvariant(),
            Network.Current.RpcUrl
        );

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Network.OnChanged -= HandleNetworkChanged;
    }

    async Task ConnectWallet()
    {
        try
        {
            _connecting = true;

            _address = await WalletService.ConnectAsync();

            AppState.SetWallet(WalletType.EveFrontier, _address);

            await Task.Delay(500);

            //Nav.NavigateTo("/directives");
            Nav.NavigateTo("/");
        }
        catch (Exception ex)
        {
            _error = ex.Message;
        }
        finally
        {
            _connecting = false;
        }
    }
}
