@page "/unauthorised-access"

<PageTitle>Unauthorised Access</PageTitle>

<div class="mop-login-container">
	<div class="mop-login-panel">
		<div class="mop-boot-panel">
			<div class="mop-boot-line">
				SECURITY BREACH DETECTED
			</div>
			<div class="mop-boot-line">
				INVALID CLEARANCE LEVEL
			</div>
			<div class="mop-boot-line">
				INCIDENT LOGGED
			</div>
			<div class="mop-boot-line mop-final-line">
				ACCESS DENIED
				<span class="mop-cursor"></span>
			</div>
		</div>
	</div>
</div>