@using Client.Models
@using Client.Services
@inherits LayoutComponentBase
@inject AppState AppState
@inject NavigationManager Nav
@inject SuiInterop SuiInterop
@inject SuiNetworkService Network
@inject IConfiguration Config
@implements IDisposable

<RadzenLayout class="eve-layout">
	<RadzenHeader class="mop-header">
		<div class="mop-header-inner">
			<div class="mop-header-logo">
				<img src="images/TheMOPLogo.png" class="mop-header-logo-img" />
			</div>

			<RadzenMenu class="mop-menu">
				<RadzenMenuItem Text="Dashboard" Path="/" Match="NavLinkMatch.All" />
				<RadzenMenuItem Text="Styles Demo" Path="/styles-demo" />
				@if (AppState.RoleContext?.Permissions?.CanAssignRoles == true)
				{
					<RadzenMenuItem Text="Inventory Admin" Path="/admin-inventory" />
					<RadzenMenuItem Text="Role Admin" Path="/admin-roles" />
					<RadzenMenuItem Text="Character Search" Path="/character-search" />
				}
			</RadzenMenu>
		</div>
	</RadzenHeader>

	<RadzenBody class="eve-body">
		<div class="eve-content p-3">
			<div class="mop-page">
				@Body
			</div>
		</div>
	</RadzenBody>
</RadzenLayout>

@code {
	protected override async Task OnInitializedAsync()
	{
		var apiBaseUrl = Config["ApiSettings:BaseUrl"]
			?? throw new Exception("ApiSettings:BaseUrl missing");

		if (!apiBaseUrl.EndsWith("/"))
			apiBaseUrl += "/";

		AppState.OnChange += StateHasChanged;
		await SuiInterop.InitAsync(
			Network.Current.Network.ToString().ToLowerInvariant(),
			Network.Current.RpcUrl,
			Network.Current.PreferredWallet,
			apiBaseUrl
		);

		Network.OnChanged += HandleNetworkChanged;
	}

	private async void HandleNetworkChanged()
	{
		var apiBaseUrl = Config["ApiSettings:BaseUrl"]
			?? throw new Exception("ApiSettings:BaseUrl missing");

		if (!apiBaseUrl.EndsWith("/"))
			apiBaseUrl += "/";

		await SuiInterop.InitAsync(
			Network.Current.Network.ToString().ToLowerInvariant(),
			Network.Current.RpcUrl,
			Network.Current.PreferredWallet,
			apiBaseUrl
		);

		await InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		AppState.OnChange -= StateHasChanged;
		Network.OnChanged -= HandleNetworkChanged;
	}
}
