@using Client.Models
@inherits LayoutComponentBase
@inject AppState AppState
@inject NavigationManager Nav
@implements IDisposable

<RadzenLayout class="eve-layout">

	<RadzenHeader class="eve-header">
		<div class="d-flex align-items-center p-2">

			<!-- Logo -->
			<div class="eve-logo fw-bold text-uppercase text-orange me-3">
				THE MINISTRY OF PASSAGE
			</div>

			<!-- Combined Menu -->
			<RadzenMenu class="eve-menu flex-grow-1" Style="height: 20px;">
				<RadzenMenuItem Text="Dashboard" Path="/" Match="NavLinkMatch.All" />
			</RadzenMenu>
		</div>
	</RadzenHeader>

	<RadzenBody class="eve-body">
		<div class="eve-content p-3">
			@Body
		</div>
	</RadzenBody>

</RadzenLayout>

@code {
	protected override void OnInitialized()
	{
		AppState.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		AppState.OnChange -= StateHasChanged;
	}

}
